* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.form-control {
  outline: none;
  border: none;
}

.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.sideNav {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 25vw;
}

.bg-nav {
  background-color: #243365;
}

.bg-text {
  background-color: #7e91d1;
}
.bg-text:focus {
  background-color: #7e91d1;
}

.bg {
  background-color: #0f152a;
}

.bg-navyBlue {
  background-color: #1b235f;
}

.bg-navyBlue1 {
  background-color: #161c4c;
}

.bg-navyBlue1:hover {
  background-color: #12163d;
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px tan;
  border-radius: 7px;
  background-color: tan;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #191b2a;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f2235;
}
